## **Import Convention**

In [ ]:
import pandas as pd

## **Pandas Data Structure**

**Series - Series is a one-dimensional labeled array that can hold any data type.**

In [ ]:
s = pd.Series([1,2,3,4],index=['a','b','c','d'])

**Data Frame - DataFrame is a two-dimensional, potentially heterogeneous tabular data structure.**

In [ ]:
data_mobile = {'Mobile':['iphone','Samsung','Redmi'],'Color':['Red','White','Black'],'Price':[High,Medium,Low]}
df = pd.DataFrame(data_mobile,columns=['Mobile','Color','Price'])

## **Importing Convention**

**Reader Functions**

In [ ]:
pd.read_csv("filename")
pd.read_table("filename")
pd.read_excel("filename")
pd.read_sql(query,connection_object)
pd.read_json(json_string)

**Write Operations**

In [ ]:
df.to_csv("filename")
df.to_excel("filename")
df.to_sql(table_name,connection_object)
df.to_json("filename")

## **Create Test/Fake Data**

In [ ]:
pd.DataFrame(np.random.rand(4,3))            # 3 columns and 4 rows of random floats
pd.Series(new_series)                        # Creates a series from an iterablenew_series

##**Operations**

 **View DataFrame contents**

In [ ]:
df.head(n)                                    # look at first n rows of the DataFrame
df.tail(n)                                    # look at last n rows of the DataFrame
df.shape()                                    # Gives the number of rows and columns
df.info()                                     # Information of Index, Datatype and Memory
df.describe()                                 # Summary statistics for numerical columns

 **Selecting**

Selecting by position using iloc

In [ ]:
df.iloc[0]                                    # select first row of data frame
df.iloc[1]                                    # select second row of data frame
df.iloc[-1]                                   # select last row of data frame
df.iloc[:,0]                                  # select first column of data frame
df.iloc[:,1]                                  # select second column of data frame

Selecting by label using loc

In [ ]:
df.loc([0],[column labels])                       # select single value by row position and column labels
df.loc['row1':'row2':'column1':'column3']         # select and slicing on labels

**Sorting**

In [ ]:
df.sort_index()                               # sorts by labels along an axis   
df.sort_values(column1)                       # sorts values by column1 in ascending order
df.sort_values(column2,ascending=False)       # sorts values by column2 in descending order

**Groupby**

In [ ]:
df.groupby(column)                            # returns a groupby object for values from one column
df.groupby([column1,column2])                 # returns a groupby object values from multiple columns
df.groupby(column1)[column2].mean()           # returns the mean of the values in column2, grouped by the values in column1
df.groupby(column1)[column2].median()         # returns the mean of the values in column2, grouped by the values in column1

##**Functions**

In [ ]:
Mean : df.mean()                              # mean of all columns
Median : df.median()                          # median of each column
Standard Deviation : df.std()                 # standard deviation of each column
Max : df.max()                                # highest value in each column
Min : df.min()                                # lowest value in each column
Count : df.count()                            # number of non-null values in each DataFrame column
Describe : df.describe()                      # Summary statistics for numerical columns

##**Plotting**

**Data Visualization with Pandas is carried out in the following ways:**
                

*   **Histogram**
*   **Scatter Plot**

In [ ]:
Histogram : df.plot.hist()
Scatter Plot : df.plot.scatter(x='column1',y='column2')